* {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 150px;
  will-change: filter;
  transition: filter 300ms;
  padding: 0 12px;
}
.card:hover {
}
.card.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Style for card */
.card {
  border: black 3px solid;
  border-radius: 20px;
  padding: 8px;
  margin: 10px 0 10px 0;
}

.bundle h2 {
  font-size: medium;
  color: black;
}
.bundle {
  font-size: small;
  font-weight: 600;
}

/* Background pic */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("videoGame.jpg");
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust the height as needed */
  position: relative;
}

/* Optional: Add a background color to make the text more readable */
.heading h1 {
  position: relative;
  z-index: 1;
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 16px; /* Optional: Add padding to the heading for better readability */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a89494;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212a31;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
