* {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border: #000000 1px solid;
  border-radius: 8px;
}
a:hover {
  background-color: #595c98;
  color: #ffffff;
}

/* Style for card */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Adjust the gap between cards */
  justify-content: center; /* Center the grid horizontally */
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}
@media (max-width: 1270px) {
  .container {
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
  }
}
@media (max-width: 1050px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* 4 columns */
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr); /* 4 columns */
  }
}

.logo {
  height: 150px;
  will-change: filter;
  transition: filter 300ms;
  padding: 0 12px;
}

.card {
  background: linear-gradient(to bottom, #1c1716, #a43810);
  border: black 3px solid;
  border-radius: 20px;
  padding: 8px;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  /* Minimum height for the cards */
}

.bundle h2 {
  font-size: medium;
  color: black;
}
.bundle {
  font-size: medium;
  font-weight: 500;
}

/* Background pic */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("videoGame.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}

.heading h1 {
  position: relative;
  z-index: 1;
  color: #1a1a1a;
  background-color: rgba(255, 255, 255, 0.81);
  padding: 16px;
}

footer {
  color: #000000;
  font-weight: 600;
  font-size: large;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a89494;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212a31;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
